<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="StreamedTcpBinding" transferMode="Streamed" maxReceivedMessageSize="6553600000" />
      </netTcpBinding>
    </bindings>
    <services>
      <service name="stream_receiver.StreamReceiver">
        <endpoint address="net.tcp://localhost:48772/stream-receiver" binding="netTcpBinding" bindingConfiguration="StreamedTcpBinding" contract="contract.Streaming"/>
      </service>
    </services>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
