<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="StreamingTcpBinding" sendTimeout="00:10:00" transferMode="Streamed" />
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:48700/stream-forwarder" binding="netTcpBinding" bindingConfiguration="StreamingTcpBinding" contract="contract.Streaming" name="stream-forwarder-ep">
      </endpoint>
    </client>
  </system.serviceModel>
  <system.diagnostics>
    <trace autoflush="true" />
    <sources>
      <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true">
        <listeners>
          <add name="sdt"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData="sender.svclog"  />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>
