<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="StreamingTcpBinding" sendTimeout="00:10:00" transferMode="Streamed"
          maxReceivedMessageSize="6553600000" />
      </netTcpBinding>
    </bindings>
    <services>
      <service name="stream_forwarder.StreamForwarder">
        <endpoint address="stream-forwarder" binding="netTcpBinding"
            bindingConfiguration="StreamingTcpBinding" contract="contract.Streaming" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:48700" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <client>
      <endpoint address="net.tcp://localhost:48772/stream-receiver"
        binding="netTcpBinding" bindingConfiguration="StreamingTcpBinding"
        contract="contract.Streaming" name="stream-receiver-ep" />
    </client>
  </system.serviceModel>
  <system.diagnostics>
    <trace autoflush="true" />
    <sources>
      <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true">
        <listeners>
          <add name="sdt"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData="forwarder.svclog"  />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>
